{% from 'bootstrap/nav.html' import render_nav_item %}

{% extends 'layout.html' %}

{% block content %}
    <center><h3>My 2021 Blog on Dogs</h3></center>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav mr-auto">
        {{ render_nav_item('home', 'Home') }}
        {{ render_nav_item('explore', 'Explore') }}
        {{ render_nav_item('blog', 'Blog') }}
        {{ render_nav_item('about', 'About') }}
    </div>
</nav>
<ul>
    <li><a href="{{ url_for('blog2021') }}">Click here to subscribe to blogs</a></li>
</ul>
{% endblock %}